{% extends "base.html" %}
{% block main %}
	<div class="page-header">
	  <h1>{{ title }}<small>{{ subtext }}</small></h1>
	</div>
	<div class="jumbotron">
	    <div class="container">
	        <h1>
	            Who are we?
	        </h1>
	        <p>
	            This site was created as a group project at the IUT of Orleans.<br/>
	            Group members are listed below.
	        </p>
	        <p>
	            <a class="btn btn-primary btn-lg" role="button" href="http://www.univ-orleans.fr/iut-orleans/informatique/">
	                More about the IUT »
	            </a>
	        </p>
	    </div>
	</div>
	<div class="container">
	    <div class="row">
			<h1>Our members:</h1>
	        <div class="col-md-4">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/batman.png') }}" alt="Could not load image">
					<div class="caption">
						<h2>Devouges Romaric</h2>
						<p>Gitlab username: Batman</p>
						<p><a class="btn btn-default" role="button" href="https://gitlab.com/u/Batman">View profile »</a></p>
					</div>
			    </div>
	        </div>
	        <div class="col-md-4">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/tfabre.png') }}" alt="Could not load image">
					<div class="caption">
						<h2>Fabre Thomas</h2>
						<p>Gitlab username: Tfabre</p>
						<p><a class="btn btn-default" role="button" href="https://gitlab.com/u/tfabre">View profile »</a></p>
					</div>
			    </div>
	        </div>
	        <div class="col-md-4">
				<div class="thumbnail">
					<img src="{{ url_for('static', filename='img/jeandel.png') }}" alt="Could not load image">
					<div class="caption">
						<h2>Jeandel Marion</h2>
						<p>Gitlab username: Jeandel</p>
						<p><a class="btn btn-default" role="button" href="https://gitlab.com/u/jeandel">View profile »</a></p>
					</div>
			    </div>
	        </div>
	    </div>
	    <hr></hr>
	    <footer>
	        <p>
	            © Devouges - Fabre - Jeandel 2014
	        </p>
	    </footer>
	</div>
{% endblock %}
{% block js %}
curtab = "about-tab";
{% endblock %}
