{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Vintage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="home-tab"><a href="/">Home</a></li>
            <li id="search-tab"><a href="/advSearch">Search</a></li>
            <li id="about-tab"><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
			{% if current_user.get_id() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">You are logged in as {{ current_user.get_id() }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url_for('basket') }}"><span class="glyphicon glyphicon-shopping-cart"></span> See your cart</a></li>
                <li><a href="{{ url_for('member', username=current_user.get_id()) }}"><span class="glyphicon glyphicon-list-alt"></span> Historic</a></li>
                {% if current_user.status == 'admin' %}
                <li class="divider"></li>
                <li><a href="{{ url_for('addWine') }}"><span class="glyphicon glyphicon-plus"></span> New wine</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
              </ul>
            </li>
			{% else %}
			<li id="log-tab"><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Log in/Sign up</a></li>
			{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
<div id="main" class="container theme-showcase" role="main">
{% block main %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
{% block js %}
{% endblock %}
$(function () {
   $("#"+curtab).addClass("active");
});
</script>
{% endblock %}
