{% extends "base.html" %}

{% block main %}
<div class="page-header">
  <h1>Your basket #{{id}} <small><em>{{ date }}</em></small></h1>
</div>
{% if wine != None %}
<div class="row">
  {% for s in basket %}
  <div class="col-sm-6 col-md-4 col-lg-3">
	<div class="thumbnail">
	  <img src="{{ url_for('static', filename='img/wine/images/'+s.image) }}" alt="Error loading image"></img>
	  <div class="caption">
		<div class="list-group">
		  {% if s.name is none %}
		  <div class="list-group-item list-group-item-danger">
			<h4>
			  Unknown name
			</h4>
		  </div>
		  {% else %}
		  <div class="list-group-item list-group-item-info">
			<h4>
			  {{ s.name }}
			</h4>
		  </div>
		  {% endif %}
		</div>
		<div class="list-group">
		  {% if s.varietal is none %}
		  <div class="list-group-item list-group-item-danger">
			<p>
			  Unknown varietal
			</p>
		  </div>
		  {% else %}
		  <div class="list-group-item">
			<p>
			  Varietal : {{ s.varietal }}
			</p>
		  </div>
		  {% endif %}
		  {% if s.vintage is none %}
		  <div class="list-group-item list-group-item-danger">
			<p>
			  Unknown vintage
			</p>
		  </div>
		  {% else %}
		  <div class="list-group-item">
			<p>
			  Vintage : {{ s.vintage }}
			</p>
		  </div>
		  {% endif %}
		</div>
		<p>
		  <a href="{{ url_for('wine', id=s.id) }}" class="btn btn-default" role="button">View product</a>
		</p>
	  </div>
	</div>
  </div>
  {% if loop.index % 4 == 0 %}<div class="clearfix visible-lg-block"></div>{% endif %}
  {% if loop.index % 3 == 0 %}<div class="clearfix visible-md-block"></div>{% endif %}
  {% if loop.index % 6 == 0 %}<div class="clearfix visible-sm-block"></div>{% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
