{% extends "base.html" %}

{% block main %}
<div class="page-header">
  <h1>{{ bottle.name }}<small> - {% if bottle.vintage is none %}
	  Unknown vintage {% else %} Vintage {{ bottle.vintage }} {% endif %}</small></h1>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8">
    <form method="POST" action="{{ url_for('processEdit') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
	  <div class="thumbnail">
	    <img src="{{ url_for('static', filename='img/wine/images/'+bottle.image) }}" alt="Could not load image">
        {{ form.image.label }}
        {{ form.image }}
	    <div class="caption">
		  <div class="list-group">
			<div class="list-group-item">
              {{ form.category.label }}
              {{ form.category(class_="form-control") }}
			</div>
		  </div>
		  <div class="form-group">

			<div class="list-group-item">
			  {{ form.country.label }}
			  {{ form.country(class_="form-control") }}
			</div>
            <div class="list-group-item">
              {{ form.quantity.label }}
			  {{ form.quantity(class_="form-control") }}
			</div>
			<div class="list-group-item">
              {{ form.region.label }}
			  {{ form.region(class_="form-control") }}
			</div>
			<div class="list-group-item">
              {{ form.varietal.label }}
              {{ form.varietal(class_="form-control") }}
			</div>
                        
		  </div>

		  <div class="form-group">

			<div class="list-group-item">
              {{ form.name.label }}
			  {{ form.name(class_="form-control") }}
			</div>
			<div class="list-group-item">
              {{ form.vintage.label }}
			  {{ form.vintage(class_="form-control") }}
			</div>
            
		  </div>
          <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
	  </div>
    </form>
  </div>
</div>
{% endblock %}
