{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
{% endblock %}

{% block main %}

	<div class="page-header">
	  <h1><span class="glyphicon glyphicon-home" area-hidden="true"></span>    {{ title }}<small>{{ subtext }}</small></h1>
	</div>
	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	          {% for c in carousel %}
	      <li {% if loop.first %}class="active"{% endif %} data-slide-to="{{ loop.index0 }}" data-target="#myCarousel"></li>
	          {% endfor %}
	    </ol>
	    <div class="carousel-inner" role="listbox">
	          {% for c in carousel %}
	        <div class="item {% if loop.first %}active{% endif %}">
	            <img alt="Error loading image" src="{{ url_for('static', filename='img/'+c.cimg) }}"></img>
	            <div class="container">
	                <div class="carousel-caption">
	                    <h1>
	                        {{ c.ctitle }}
	                    </h1>
	                    <p>
	                        {{ c.csubtext }}
	                    </p>
	                    <p>
							<form name="formC" action="{{ url_for('advSearch') }}" method="POST">
								<input type="hidden" name="title" value="{{ c.title }}">
								<input type="hidden" name="page" value="0">
								<input type="hidden" name="pagemax" value="2">
								<input type="hidden" name="name" value="">
								<input type="hidden" name="category" value="{{ c.category }}">
								<input type="hidden" name="country" value="">
								<input type="hidden" name="quantity" value="">
								<input type="hidden" name="region" value="">
								<input type="hidden" name="varietal" value="">
								<input type="hidden" name="year" value="">
				                <input class="btn btn-lg btn-primary" type="submit" name="formCsub" value="View details »">
				            </form>
				        </p>
	                </div>
	            </div>
	        </div>
	          {% endfor %}
	    </div>
	    <a class="left carousel-control" data-slide="prev" role="button" href="#myCarousel">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">
	            Previous
	        </span>
	    </a>
	    <a class="right carousel-control" data-slide="next" role="button" href="#myCarousel">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">
	            Next
	        </span>
	    </a>
	</div>

	<div class="container marketing">
      <div class="page-header">
        <h3><span class="glyphicon glyphicon-glass"></span> <small>Our products</small></h3>
      </div>
	  <div class="row">
        {% for wine in rWine %}
	    <div class="col-lg-4" >
          <div>
            <a class="" href="{{ url_for('wine', id=wine.id) }}">
	          <img class="img-circle randSample"  alt="No image available" src="{{ url_for('static', filename='img/wine/images/'+wine.image) }}"/>
	          <h2 class="randSample">{{ wine.name }} </h2>
            </a>
          </div>
	    </div>
        {% endfor %}
	  </div>

	  <hr class="featurette-divider"></hr>
		<div class="row featurette">
          <div class="page-header">
            <h3><span class="glyphicon glyphicon-shopping-cart"></span> <small>Market</small></h3>
          </div>
		    <div class="col-md-7">
		        <h2 class="featurette-heading">
		            Red wines - 
		            <span class="text-muted">
		                Best fit with your meat.
		            </span>
		        </h2>
		        <p class="lead">
		            Donec ullamcorper nulla non metus auctor fringilla…
		        </p>
		        <p>
		        	<form name="formF1" action="{{ url_for('advSearch') }}" method="POST">
						<input type="hidden" name="title" value="Red wines">
						<input type="hidden" name="page" value="0">
						<input type="hidden" name="pagemax" value="2">
						<input type="hidden" name="name" value="">
						<input type="hidden" name="country" value="">
						<input type="hidden" name="quantity" value="">
						<input type="hidden" name="region" value="">
						<input type="hidden" name="varietal" value="">
						<input type="hidden" name="category" value="Red">
						<input type="hidden" name="year" value="">
						<input class="btn btn-lg btn-primary" type="submit" name="formF1sub" value="View details »">
					</form>
		        </p>
		    </div>
		    <div class="col-md-5">
		        <img class="featurette-image img-responsive" alt="500x500" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='img/RedWine.jpg') }}" data-holder-rendered="true"></img>
		    </div>
		</div>
		<hr class="featurette-divider"></hr>
		<div class="row featurette">
		    <div class="col-md-5">
		        <img class="featurette-image img-responsive" alt="500x500" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='img/RoseWine.jpg') }}" data-holder-rendered="true"></img>
		    </div>
		    <div class="col-md-7">
		        <h2 class="featurette-heading">
		            Rose wines - 
		            <span class="text-muted">
		                Fruitier taste for the best.
		            </span>
		        </h2>
		        <p class="lead">
		            Donec ullamcorper nulla non metus auctor fringilla…
		        </p>
		        <p>
		        	<form name="formF2" action="{{ url_for('advSearch') }}" method="POST">
						<input type="hidden" name="title" value="Rose wines">
						<input type="hidden" name="page" value="0">
						<input type="hidden" name="pagemax" value="2">
						<input type="hidden" name="name" value="">
						<input type="hidden" name="country" value="">
						<input type="hidden" name="quantity" value="">
						<input type="hidden" name="region" value="">
						<input type="hidden" name="varietal" value="">
						<input type="hidden" name="category" value="Rose">
						<input type="hidden" name="year" value="">
						<input class="btn btn-lg btn-primary" type="submit" name="formF2sub" value="View details »">
					</form>
		        </p>
		    </div>
		</div>
		<hr class="featurette-divider"></hr>
		<div class="row featurette">
		    <div class="col-md-7">
		        <h2 class="featurette-heading">
		            White wines - 
		            <span class="text-muted">
		                Start according to your heart.
		            </span>
		        </h2>
		        <p class="lead">
		            Donec ullamcorper nulla non metus auctor fringilla…
		        </p>
		        <p>
		        	<form name="formF3" action="{{ url_for('advSearch') }}" method="POST">
						<input type="hidden" name="title" value="White wines">
						<input type="hidden" name="page" value="0">
						<input type="hidden" name="pagemax" value="2">
						<input type="hidden" name="name" value="">
						<input type="hidden" name="country" value="">
						<input type="hidden" name="quantity" value="">
						<input type="hidden" name="region" value="">
						<input type="hidden" name="varietal" value="">
						<input type="hidden" name="category" value="White">
						<input type="hidden" name="year" value="">
						<input class="btn btn-lg btn-primary" type="submit" name="formF3sub" value="View details »">
					</form>
		        </p>
		    </div>
		    <div class="col-md-5">
		        <img class="featurette-image img-responsive" alt="500x500" data-src="holder.js/500x500/auto" src="{{ url_for('static', filename='img/WhiteWine.jpg') }}" data-holder-rendered="true"></img>
		    </div>
		</div>
		<hr class="featurette-divider"></hr>
		<footer>
		    <p class="pull-right">
		        <a href="#">
		            Back to top
		        </a>
		    </p>
		    <p>
		        © Devouges - Fabre - Jeandel 2014
		    </p>
		</footer>
	</div>

{% endblock %}
{% block js %}
curtab = "home-tab";
{% endblock %}
