{% extends "base.html" %}

{% block main %}
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
			<div class="page-header">
			  <h1>Log in <small>- Already a member</small></h1>
			</div>

			<div>
				<form class="form-horizontal" role="form" method="POST" action="{{ url_for('login') }}">
					{{ form.hidden_tag() }}
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">{{ form.username.label }}</label>
						<div class="col-sm-10">
							{{ form.username(size=50, class_="form-control", placeholder="Username") }}
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">{{ form.password.label }}</label>
						<div class="col-sm-10">
							{{ form.password(size=50, class_="form-control", placeholder="Password") }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button name="login" type="submit" class="btn btn-default">Log in</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
			<div class="page-header">
			  <h1>Sign up <small>- New member</small></h1>
			</div>

			<div>
				<form class="form-horizontal" role="form" method="post" action="{{ url_for('login') }}">
					{{ form.hidden_tag() }}
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">{{ signup.usernamesu.label }}</label>
						<div class="col-sm-10">
							{{ signup.usernamesu(size=50, class_="form-control", placeholder="Username") }}
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">{{ signup.passwordsu.label }}</label>
						<div class="col-sm-10">
							{{ signup.passwordsu(size=50, class_="form-control", placeholder="Password") }}
						</div>
					</div>
					<div class="form-group">
						<label for="repassword" class="col-sm-2 control-label">{{ signup.repasswordsu.label }}</label>
						<div class="col-sm-10">
							{{ signup.repasswordsu(size=50, class_="form-control", placeholder="Retype password") }}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button name="signup" type="submit" class="btn btn-default">Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	{% if errors %}
		<div class="form-group has-error">
			<ul class="list-group">
				{% for e in errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block js %}
curtab = "log-tab";
{% endblock %}
