{% extends "base.html" %}

{% block main %}
<div class="page-header">
  <h1>{{ username }} <small>commands</small></h1>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>#</th><th>Date</th><th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for b in baskets %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ b }}</td>
        <td>
          <a class="btn btn-primary" href="{{ url_for('basket_details', ind=loop.index) }}" role="button">View details »</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
