{% extends "base.html" %}
{% block main %}

	<div class="page-header">
	  <h1>{{ title }}</h1>
	</div>
	{% if title=="Sparkling wines" or title=="Dessert wines" or title=="Vintage wines" or title=="Red wines" or title=="Rose wines" or title=="White wines" or title=="Advanced search submitted" %}
	<div class="row">
		{% if sample == [] %}
		<ul class="list-group">
			<li class="list-group-item list-group-item-danger">There was no matching product in our catalogue.</li>
		</ul>
		{% endif %}
		{% for s in sample %}
		<div class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<img src="{{ url_for('static', filename='img/wine/images/'+s.image) }}" alt="Error loading image"></img>
				<div class="caption">
					<div class="list-group">
						{% if s.name is none %}
						<div class="list-group-item list-group-item-danger">
							<h4>
								Unknown name
							</h4>
						</div>
						{% else %}
						<div class="list-group-item list-group-item-info">
							<h4>
								{{ s.name }}
							</h4>
						</div>
						{% endif %}
					</div>
					<div class="list-group">
						{% if s.varietal is none %}
						<div class="list-group-item list-group-item-danger">
							<p>
								Unknown varietal
							</p>
						</div>
						{% else %}
						<div class="list-group-item">
							<p>
								Varietal : {{ s.varietal }}
							</p>
						</div>
						{% endif %}
						{% if s.vintage is none %}
						<div class="list-group-item list-group-item-danger">
							<p>
								Unknown vintage
							</p>
						</div>
						{% else %}
						<div class="list-group-item">
							<p>
								Vintage : {{ s.vintage }}
							</p>
						</div>
						{% endif %}
					</div>
					<p>
                        <form method="POST" action="{{ url_for('basket') }}">
						  <a href="{{ url_for('wine', id=s.id) }}" class="btn btn-default" role="button">View product</a>
                          <input type="hidden" name="id" value="{{ s.id }}"/>
						  <button class="btn btn-primary" type="submit" name="addToCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </form>
					</p>
				</div>
			</div>
		</div>
		{% if loop.index % 4 == 0 %}<div class="clearfix visible-lg-block"></div>{% endif %}
		{% if loop.index % 3 == 0 %}<div class="clearfix visible-md-block"></div>{% endif %}
		{% if loop.index % 2 == 0 %}<div class="clearfix visible-sm-block"></div>{% endif %}
		{% endfor %}
	</div>
	<form action="{{ url_for('advSearch') }}" method="POST" class="form-horizontal" role="form">
		<input type="hidden" name="title" value="{{ title }}">
		<input type="hidden" name="page" value="{{ page }}">
		<input type="hidden" name="pagemax" value="{{ pagemax }}">
		<input type="hidden" name="name" value="{{ name }}">
		<input type="hidden" name="category" value="{{ category }}">
		<input type="hidden" name="country" value="{{ country }}">
		<input type="hidden" name="quantity" value="{{ quantity }}">
		<input type="hidden" name="region" value="{{ region }}">
		<input type="hidden" name="varietal" value="{{ varietal }}">
		<input type="hidden" name="year" value="{{ year }}">
		<nav>
			<ul class="pager">
				{% if page > 0 %}
					<li><button class="btn btn btn-primary" type="submit" name="prev">&laquo; Previous</button></li>
				{% endif %}
				{% if page < pagemax %}
					<li><button class="btn btn btn-primary" type="submit" name="next">Next &raquo;</button></li>
				{% endif %}
			</ul>
		</nav>
	</form>
	{% endif %}
	{% if title=="Advanced search" %}
	<div class="container">
		<h2>Choose your filters</h2><br/>
		<form name="formS" action="{{ url_for('advSearch') }}" method="POST" class="form-horizontal" role="form">
			<input type="hidden" name="title" value="Advanced search submitted">
			<input type="hidden" name="page" value="0">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-10">
					<input class="form-control" name="name" placeholder="Enter name">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Category:</label>
				<div class="col-sm-10">
					<select class="form-control" name="category">
						<option>Red</option>
						<option>Rose</option>
						<option>White</option>
						<option>Sparkling</option>
						<option>Dessert</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="country">Country:</label>
				<div class="col-sm-10">          
					<input class="form-control" name="country" placeholder="Enter country">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="quantity">Quantity:</label>
				<div class="col-sm-10">          
					<input class="form-control" name="quantity" placeholder="Enter quantity">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="region">Region:</label>
				<div class="col-sm-10">          
					<input class="form-control" name="region" placeholder="Enter region">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="varietal">Varietal:</label>
				<div class="col-sm-10">          
					<input class="form-control" name="varietal" placeholder="Enter varietal">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="year">Vintage:</label>
				<div class="col-sm-10">          
					<input class="form-control" name="year" placeholder="Enter year">
				</div>
			</div>
			<div class="form-group">        
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn btn-primary" type="submit" name="formSsub">Go!</button>
				</div>
			</div>
		</form>
	</div>
	{% endif %}
	
{% endblock %}
{% block js %}
curtab = "search-tab";
{% endblock %}
