{% extends "base.html" %}

{% block main %}
	<div class="page-header">
	  <h1>{{ bottle.name }}<small> - {% if bottle.vintage is none %}
		Unknown vintage {% else %} Vintage {{ bottle.vintage }} {% endif %}</small></h1>
	</div>
	<div class="row">
	  <div class="col-sm-12 col-md-8">
	    <div class="thumbnail">
	      <img src="{{ url_for('static', filename='img/wine/images/'+bottle.image) }}" alt="Could not load image">
	      <div class="caption">
				<div class="list-group">
					{% if bottle.category is none %}
					<div class="list-group-item list-group-item-danger">
						<h3>
							Unknown category
						</h3>
					</div>
					{% else %}
					<div class="list-group-item list-group-item-info">
						<h3>
							{{ bottle.category }} wine
						</h3>
					</div>
					{% endif %}
				</div>
				<div class="list-group">
					{% for key, value in infos.items() %}
					{% if value is none %}
					<div class="list-group-item list-group-item-danger">
						<h4 class="list-group-item-heading">{{ key }}</h4>
						<p class="list-group-item-text">Unknown</p>
					</div>
					{% else %}
					<div class="list-group-item">
						<h4 class="list-group-item-heading">{{ key }}</h4>
						<p class="list-group-item-text">{{ value }}</p>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				<div class="list-group">
					{% for key, value in head.items() %}
					{% if value is none %}
					<div class="list-group-item list-group-item-danger">
						<h4 class="list-group-item-heading">{{ key }}</h4>
						<p class="list-group-item-text">Unknown</p>
					</div>
					{% else %}
					<div class="list-group-item">
						<h4 class="list-group-item-heading">{{ key }}</h4>
						<p class="list-group-item-text">{{ value }}</p>
					</div>
					{% endif %}
					{% endfor %}
				</div>
                <form method="POST" action="{{ url_for('basket') }}">
                  <input type="hidden" name="id" value="{{ bottle.id }}"/>
				  <button class="btn btn-primary" type="submit" name="addToCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                  {% if current_user.status == "admin" %}
                  <a class="btn btn-default" href="{{ url_for('edit', id=bottle.id) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                  {% endif %}
                </form>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
